<div class="header">
  <h2><%= link_to "Demo", root_path -%> :: Available Videos</h2>
</div>

<ul class="video-list">
  <% @videos.each do |video| %>
    <%
      thumb = video['thumbnails'].first
      subscription = video['subscription_required']
      flagged = subscription ? 'requires-signin' : ''
    %>
    <li class="<%= flagged -%>">
      <%= link_to(video_path(id: video['_id'])) do %>
        <% if !thumb.nil? %>
        <div class="thumb">
          <img width="<%= thumb['width'] -%>" height="<%= thumb['height'] -%>" src="<%= thumb['url'] -%>" alt="<%= video['title'] -%>" />
        </div>
        <% end %>
        <h5><%= video['title'] -%></h5>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="page-bar">
  <h4>Page: <%= @pagination[:current] -%> of <%= @pagination[:pages] -%></h4>
  <%
    atFront = @pagination[:current] < 2 ? 'atFront' : ''
    atEnd = @pagination[:current] >= @pagination[:pages] ? 'atEnd' : ''
  %>
  <button class="<%= atFront -%>">◀ Previous Page</button>

  <button class="<%= atEnd -%>">Next Page ▶︎</button>
</div>
