<div class="header">
  <h2><%= link_to "Demo", root_path -%> :: Available Videos</h2>
</div>

<ul class="video-list">
  <% @videos.each do |video| %>
    <%
      thumb = video['thumbnails'].first
      subscription = video['subscription_required']
      flagged = subscription ? 'requires-signin' : ''
    %>
    <li class="<%= flagged -%>">
      <%= link_to(video_path(id: video['_id'])) do %>
        <% if !thumb.nil? %>
        <div class="thumb">
          <img width="<%= thumb['width'] -%>" height="<%= thumb['height'] -%>" src="<%= thumb['url'] -%>" alt="<%= video['title'] -%>" />
        </div>
        <% end %>
        <h5><%= video['title'] -%></h5>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="page-bar">
  <%= link_to "◀ Previous Page", videos_path({page: @pagination[:previous] }) if !@pagination[:previous].nil? -%>
  <h4>Page: <%= @pagination[:current] -%> of <%= @pagination[:pages] -%></h4>
  <%= link_to "Next Page ▶︎", videos_path({ page: @pagination[:next] }) if !@pagination[:next].nil? -%>
</div>
